.header {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 32px auto;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 21px;
  text-transform: uppercase;
  border: var(--color-primary) 1px solid;
  display: inline-block;
}

.titleName {
  padding: 6px;
  display: inline-block;
}

.titleSubname {
  background-color: var(--color-primary);
  padding: 6px;
  display: inline-block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.link {
  font-size: 14px;
}

.link:hover,
.linkActive {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  border-bottom: var(--color-primary) 3px solid;
}

.navOpen,
.navClose {
  display: none;
}

@media (max-width: 768px) {
  .header {
    margin: 32px auto;
    position: relative;
  }

  .title {
    font-size: 24px;
  }

  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 3;
    height: 100vh;
    width: 100%;
  }

  .nav.isVisible {
    display: block;
  }

  .navOpen {
    background-color: transparent;
    border: 0;
    font-size: 24px;
    display: block;
  }

  .navClose {
    display: block;
    position: fixed;
    right: 16px;
    top: 16px;
    background-color: transparent;
    border: 0;
    font-size: 32px;
  }

  .list {
    flex-direction: column;
    gap: 16px;
    padding: 16px;
  }

  .link {
    font-size: 24px;
  }

  .link:hover,
  .linkActive {
    font-size: 24px;
  }
}
