.subTitleHolder {
  background-image: url('/car.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
}

.subTitle {
  letter-spacing: 1.5px;
  line-height: 1.5;
  font-size: 48px;
  margin: 0;
}

.span3,
.span5 {
  border-bottom: var(--color-primary) 3px solid;
}

.span2,
.span4 {
  margin-right: 8px;
}

.textHolder {
  margin-top: 32px;
}

.text {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1.5;
  line-height: 1;
  margin: 0 0 12px;
}

.separator {
  height: 4px;
  margin: 32px 0;
  background-color: #f1f1f1;
}

.image {
  width: 100%;
  height: 100%;
}

.section {
  margin-top: 32px;
  background-color: #f1f1f1;
  padding: 16px;
}

.sectionTitle {
  margin: 0;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.sectionText {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1.5;
  line-height: 1.2;
  margin: 0; 
}

@media (max-width: 768px) {
  .subTitleHolder {
    background-image: none;
  }

  .subTitle {
    letter-spacing: 1.5px;
    line-height: 1.5;
    font-size: 24px;
  }

  .sectionTitle {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .section {
    margin-top: 16px;
  }
}
